body{
    background-color: rgba(28, 28, 28, 0.405);
}
.sec{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 95vh;
}

.LoginForm{
    background-color: lightgrey;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

.head{
    background-color: rgb(10, 134, 250);
    height: 60px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.title{
    color: white;
    font-size: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content{
    padding: 20px;
}

input{
    margin: 5px;
    height: 20px;
    border-radius: 5px;
}

.btn-sec{
    display: flex;
    justify-content: center;
}

.btn{
    background-color: blue;
    color: white;
    height: 25px;
    border:0px
}